h1.page-header {
  display: none;
  }
  #farsaran-wrapper h1,
  #farsaran-wrapper h2,
  #farsaran-wrapper h3 {
  margin-top: 0;
  margin-bottom: 0;
  }
  .farsaran-box {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1.5rem 1rem;
  -moz-box-shadow: 0 0 3px #ddd;
  -webkit-box-shadow: 0 0 3px #ddd;
  -o-box-shadow: 0 0 3px #ddd;
  box-shadow: 0 0 3px #ddd;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  }
  .green-heading {
  text-align: center;
  color: rgb(0, 100, 0);
  margin-top: 4rem !important;
  font-size: 30px;
  }
  .farsaran-box-2 {
  text-align: center;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  }
  .farsaran-box-2 ul {
  text-align: right;
  margin: 1rem auto;
  width: 25rem;
  }
  .green-key-bg {
  background-image: url('https://cdn1.iconfinder.com/data/icons/Hand_Drawn_Web_Icon_Set/128/key_accept.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  min-height: 150px;
  }
  .farsaran-separator {
  background-image: url('/images/hr_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  }